<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img class="logo-icon" [src]="logo">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" fill="solid" id="notificacao">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge></ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-item id="usuario">
    <ion-avatar slot="start">
      <img [src]="usuario.avatar" />
    </ion-avatar>
    <ion-label>
      <h1>{{usuario.nome}}</h1>
      <p class="nivel-roxo" *ngIf="usuario.nivel == 'Nível Roxo'">{{usuario.nivel}}</p>
    </ion-label>
  </ion-item>

  <div id="chip">
    <ion-chip>
      <ion-item lines="none">
        <ion-label>
          <ion-icon name="accessibility"></ion-icon>
          Meu corpo
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <ion-icon name="trophy"></ion-icon>
          Objetivos e conquistas
        </ion-label>
      </ion-item>
    </ion-chip>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI
        Components</a></p>
  </div> -->
  <div id="slider">
    <ion-label>Personal online <ion-icon slot="end" name="add"></ion-icon></ion-label>
    <swiper-container #swiper [slidesPerView]="1.3" [initialSlide]="0" [centeredSlides]="true" [autoplay]="false"
      [spaceBetween]="20">
      <swiper-slide *ngFor="let card of personalOnline; let i= index">
        <ion-card *ngIf="i == 0" id="novo-treino">
          <img [src]="card.bg" />
          <ion-card-title>
            <ion-row class="ion-align-items-center ion-justify-content-center">
              <ion-col size="4">
                <ion-icon name="add"></ion-icon>
              </ion-col>
              <ion-col size="8">
                Novo Treino
              </ion-col>
            </ion-row>
          </ion-card-title>
        </ion-card>

        <ion-card *ngIf="i != 0">
          <img [src]="card.bg" />
          <ion-card-title>{{card.titulo}}</ion-card-title>
          <ion-card-subtitle *ngIf="card.continuarTreinando">
            Continuar Treinando
          </ion-card-subtitle>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <div id="slider">
    <ion-label>Programas <ion-badge>novo</ion-badge></ion-label>
    <swiper-container #swiper [slidesPerView]="1.3" [initialSlide]="0" [centeredSlides]="true" [autoplay]="false"
      [spaceBetween]="20">
      <swiper-slide *ngFor="let card of programas; let i= index">
        <ion-card>
          <img [src]="card.bg" />
          <ion-card-title>{{card.titulo}}</ion-card-title>
          <ion-card-subtitle *ngIf="card.continuarTreinando">
            Continuar Treinando
          </ion-card-subtitle>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>

  <div id="slider">
    <ion-label>Conteúdos</ion-label>
    <swiper-container #swiper [slidesPerView]="1.3" [initialSlide]="0" [centeredSlides]="true" [autoplay]="false"
      [spaceBetween]="20">
      <swiper-slide *ngFor="let card of programas; let i= index">
        <ion-card>
          <img [src]="card.bg" />
          <ion-card-title>{{card.titulo}}</ion-card-title>
          <ion-card-subtitle *ngIf="card.continuarTreinando">Continuar Treinando</ion-card-subtitle>
        </ion-card>
      </swiper-slide>
    </swiper-container>
  </div>
</ion-content>