<ion-header [translucent]="true">
  <app-header></app-header>
  <app-user-profile [user]="user"></app-user-profile>
  <div id="chip">
    <ion-chip>
      <ion-item lines="none">
        <ion-label>
          <ion-icon name="accessibility"></ion-icon>
          Meu corpo
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <ion-icon name="trophy"></ion-icon>
          Objetivos e conquistas
        </ion-label>
      </ion-item>
    </ion-chip>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <app-card-list [title]="'Personal online'" [list]="personalOnline" [newExercise]="true"></app-card-list>
  <app-card-list [title]="'Programas'" [list]="programs" [newList]="true"></app-card-list>
  <app-card-list [title]="'Conteudos'" [list]="contents"></app-card-list>
</ion-content>